@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Saira Condensed", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

.master-nav {
  height: 100px;
  width: 100%;
  background-color: #154D68;
  background-image: url("/media/nav-bg.png");
  display: flex;
  align-items: center;
  padding: 0 40px;
}
.master-nav > .logo {
  display: flex;
  align-items: center;
}
.master-nav > .logo img {
  display: block;
}
.master-nav > .logo > span {
  color: #F1FAEE;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  margin-left: 15px;
}
.master-nav > .icons {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 25px;
  font-weight: 700;
}
.master-nav > .icons > .link {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  text-transform: uppercase;
  row-gap: 5px;
}
.master-nav > .icons > .link > i {
  font-size: 24px;
}
.master-nav > .icons > .auth-dp > img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}
.master-nav > .icons > .nav-btn {
  background-color: #F1FAEE;
  padding: 2px 12px 0 12px;
  border-radius: 20px;
  color: #154D68;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-header {
  background-image: url("/media/header.png");
  height: 442px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.dashboard-header > .transparent-nav {
  display: flex;
  align-items: flex-start;
  color: #fff;
  padding: 20px 60px;
}
.dashboard-header > .transparent-nav > .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard-header > .transparent-nav > .logo > p {
  font-size: 40px;
  font-weight: 700;
}
.dashboard-header > .transparent-nav > .icons {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 25px;
  font-weight: 700;
}
.dashboard-header > .transparent-nav > .icons > .link {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  text-transform: uppercase;
  row-gap: 5px;
}
.dashboard-header > .transparent-nav > .icons > .link > i {
  font-size: 24px;
}
.dashboard-header > .transparent-nav > .icons > .nav-btn {
  background-color: #F1FAEE;
  padding: 2px 12px 0 12px;
  border-radius: 20px;
  color: #154D68;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-header > .dis {
  font-size: 50px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 80px;
  color: #F1FAEE;
  text-transform: uppercase;
  line-height: 1.2;
}
.dashboard-header > .dis p {
  text-align: center;
}
.dashboard-header > .dis span {
  color: #EF6262;
}

.dashboard-show-case {
  padding: 0 60px;
}
.dashboard-show-case > p.title {
  color: #EF6262;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}
.dashboard-show-case > .cards-cover {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.dashboard-show-case > .cards-cover .simple-card {
  width: 30%;
  background-color: #e8e8e8;
  padding: 20px;
  box-shadow: 1px 1px 2px #f2f2f2;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.dashboard-show-case > .cards-cover .simple-card > img {
  width: 100%;
  object-fit: cover;
}
.dashboard-show-case > .cards-cover .simple-card > p {
  color: #EF6262;
  font-weight: 600;
  font-size: 20px;
}
.dashboard-show-case > .cards-cover .simple-card > .rate-row {
  align-self: flex-start;
  color: darkorange;
  margin-bottom: 5px;
}
.dashboard-show-case > .cards-cover .simple-card > .rate-row > span {
  text-transform: uppercase;
  color: #444;
  font-weight: normal;
  margin-left: 5px;
}
.dashboard-show-case > .cards-cover .simple-card > .card-btn {
  background-color: #154D68;
  color: #fff;
  padding: 2px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 0 4px 4px #999;
  font-weight: 200;
}


.play-with-layout {
  display: flex;
  padding: 40px 60px;
  column-gap: 80px;
}
.play-with-layout > .left {
  width: 60%;
}
.play-with-layout > .left > p.title {
  color: #DC9854;
  text-align: center;
  font-size: 36px;
  margin-bottom: 25px;
}
.play-with-layout > .left > img {
  width: 100%;
}
.play-with-layout > .right {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.play-with-layout > .right > .btns {
  display: flex;
  justify-content: space-around;
}
.play-with-layout > .right > .btns > .btn-dull {
  background-color: #245376;
  opacity: 0.7;
  color: #fff;
  border-radius: 4px;
  font-size: 20px;
  padding: 5px 25px;
}
.play-with-layout > .right > .btns > .btn-full {
  background-color: #245376;
  color: #fff;
  border-radius: 4px;
  font-size: 20px;
  padding: 5px 25px;
}
.play-with-layout > .right > form {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
.play-with-layout > .right > form > .select-cover {
  display: flex;
  flex-direction: column;
}
.play-with-layout > .right > form > .select-cover > .select-option {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 25px;
}
.play-with-layout > .right > form > .select-cover > .select-option > span {
  text-align: center;
}
.play-with-layout > .right > form > .select-cover > .select-option > select {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 20px;
  border: solid #999 1px;
  color: #666;
  font-size: 18px;
}
.play-with-layout > .right > form > button {
  background-color: #D9554D;
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 5px 25px;
  border-radius: 4px;
  align-self: center;
}

.play-start-layout {
  display: flex;
  padding: 40px 60px;
  align-items: center;
}
.play-start-layout > .question {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.play-start-layout > .question > .step-bar {
  width: 30%;
  position: relative;
  margin-bottom: 40px;
}
.play-start-layout > .question > .step-bar > .bar {
  height: 4px;
  width: 99%;
  background-color: #d4d4d4;
  margin: auto;
  box-shadow: 1px 1px 2px #e8e8e8;
}
.play-start-layout > .question > .step-bar > .steps {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -7px;
  width: 100%;
}
.play-start-layout > .question > .step-bar > .steps > span {
  background-color: #f2f2f2;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  box-shadow: 1px 1px 2px #999;
  border: solid #d4d4d4 3px;
}
.play-start-layout > .question > .q-text {
  background-color: #245376;
  color: #fff;
  padding: 15px 30px;
  border-radius: 35px;
  width: 50%;
  text-align: center;
}
.play-start-layout > .question > .op {
  padding: 15px 30px;
  border-radius: 35px;
  width: 40%;
  text-align: center;
  background-color: coral;
  margin-top: 20px;
}
.play-start-layout > .counter {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 40px;
}
.play-start-layout > .counter > img {
  width: 120px;
  height: 120px;
}
.play-start-layout > .counter > .friend-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.play-start-layout > .counter > .friend-photo > img {
  width: 118px;
  height: 118px;
  border-radius: 50%;
  border: solid dodgerblue 2px;
}
.play-start-layout > .counter > .friend-photo > p {
  font-weight: 600;
}

@media (max-width: 720px) {
  .dashboard-header {
    background-image: none;
    height: auto;
    background-color: #154D68;
    margin-bottom: 20px;
  }
  .dashboard-header > .transparent-nav {
    display: flex;
    align-items: flex-start;
    color: #fff;
    padding: 20px;
    row-gap: 20px;
    flex-direction: column-reverse;
  }
  .dashboard-header > .transparent-nav > .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .dashboard-header > .transparent-nav > .logo > p {
    font-size: 40px;
    font-weight: 700;
  }
  .dashboard-header > .transparent-nav > .icons {
    flex: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0px;
    font-weight: 700;
  }
  .dashboard-header > .transparent-nav > .icons > .link {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    text-transform: uppercase;
  }
  .dashboard-header > .transparent-nav > .icons > .link > i {
    font-size: 18px;
  }
  .dashboard-header > .transparent-nav > .icons > .nav-btn {
    background-color: #F1FAEE;
    padding: 2px 12px 0 12px;
    border-radius: 20px;
    color: #154D68;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dashboard-header > .dis {
    font-size: 32px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #F1FAEE;
    text-transform: uppercase;
    line-height: 1.2;
  }
  .dashboard-header > .dis span {
    color: #EF6262;
  }
  .dashboard-show-case {
    padding: 0 20px;
  }
  .dashboard-show-case > p.title {
    color: #EF6262;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
  }
  .dashboard-show-case > .cards-cover {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .dashboard-show-case > .cards-cover .simple-card {
    width: 100%;
    background-color: #e8e8e8;
    padding: 20px;
    box-shadow: 1px 1px 2px #f2f2f2;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
  }
  .dashboard-show-case > .cards-cover .simple-card > img {
    width: 100%;
    object-fit: cover;
  }
  .dashboard-show-case > .cards-cover .simple-card > p {
    color: #EF6262;
    font-weight: 600;
    font-size: 20px;
  }
  .master-nav {
    height: 100px;
    width: 100%;
    background-color: #154D68;
    background-image: url("/media/nav-bg.png");
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  .master-nav > .logo {
    display: none;
    align-items: center;
  }
  .master-nav > .logo img {
    display: block;
  }
  .master-nav > .logo > span {
    color: #F1FAEE;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    margin-left: 15px;
  }
  .master-nav > .icons {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 15px;
    font-weight: 500;
  }
  .master-nav > .icons > .link {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    text-transform: uppercase;
    row-gap: 5px;
    text-align: center;
  }
  .master-nav > .icons > .link > i {
    font-size: 24px;
  }
  .master-nav > .icons > .auth-dp > img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
  }
  .master-nav > .icons > .nav-btn {
    background-color: #F1FAEE;
    padding: 2px 12px 0 12px;
    border-radius: 20px;
    color: #154D68;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .play-with-layout {
    display: flex;
    padding: 20px 20px;
    column-gap: 80px;
  }
  .play-with-layout > .left {
    width: 60%;
    display: none;
  }
  .play-with-layout > .left > p.title {
    color: #DC9854;
    text-align: center;
    font-size: 36px;
    margin-bottom: 25px;
  }
  .play-with-layout > .left > img {
    width: 100%;
  }
  .play-with-layout > .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .play-with-layout > .right > .btns {
    display: flex;
    justify-content: space-around;
  }
  .play-with-layout > .right > .btns > .btn-dull {
    background-color: #245376;
    opacity: 0.7;
    color: #fff;
    border-radius: 4px;
    font-size: 20px;
    padding: 5px 25px;
  }
  .play-with-layout > .right > .btns > .btn-full {
    background-color: #245376;
    color: #fff;
    border-radius: 4px;
    font-size: 20px;
    padding: 5px 25px;
  }
  .play-with-layout > .right > form {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
  }
  .play-with-layout > .right > form > .select-cover {
    display: flex;
    flex-direction: column;
  }
  .play-with-layout > .right > form > .select-cover > .select-option {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 25px;
  }
  .play-with-layout > .right > form > .select-cover > .select-option > span {
    text-align: center;
  }
  .play-with-layout > .right > form > .select-cover > .select-option > select {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 20px;
    border: solid #999 1px;
    color: #666;
    font-size: 18px;
  }
  .play-with-layout > .right > form > button {
    background-color: #D9554D;
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 5px 25px;
    border-radius: 4px;
    align-self: center;
  }

  .play-start-layout {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 20px;
    align-items: center;
    row-gap: 35px;
  }
  .play-start-layout > .question {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .play-start-layout > .question > .step-bar {
    width: 100%;
    position: relative;
    margin-bottom: 40px;
  }
  .play-start-layout > .question > .step-bar > .bar {
    height: 4px;
    width: 99%;
    background-color: #d4d4d4;
    margin: auto;
    box-shadow: 1px 1px 2px #e8e8e8;
  }
  .play-start-layout > .question > .step-bar > .steps {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -7px;
    width: 100%;
  }
  .play-start-layout > .question > .step-bar > .steps > span {
    background-color: #f2f2f2;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    box-shadow: 1px 1px 2px #999;
    border: solid #d4d4d4 3px;
  }
  .play-start-layout > .question > .q-text {
    background-color: #245376;
    color: #fff;
    padding: 15px 30px;
    border-radius: 35px;
    width: 100%;
    text-align: center;
  }
  .play-start-layout > .question > .op {
    padding: 15px 30px;
    border-radius: 35px;
    width: 90%;
    text-align: center;
    background-color: coral;
    margin-top: 20px;
  }
  .play-start-layout > .counter {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 40px;
    column-gap: 20px;
    justify-content: center;
  }
  .play-start-layout > .counter > img {
    width: 80px;
    height: 80px;
  }
  .play-start-layout > .counter > .friend-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
  }
  .play-start-layout > .counter > .friend-photo > img {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    border: solid dodgerblue 2px;
  }
  .play-start-layout > .counter > .friend-photo > p {
    font-weight: 700;
    font-size: 13px;
  }
}

.game-result-layout {
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
  align-items: center;
}
.game-result-layout > p.title {
  color: #225274;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.game-result-layout > .players {
  display: flex;
  align-items: center;
  column-gap: 50px;
  justify-content: center;
}
.game-result-layout > .players > .me, .game-result-layout > .players .friend {
  position: relative;
  width: 150px;
  text-align: center;
}
.game-result-layout > .players > .me img.dp, .game-result-layout > .players .friend img.dp {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: solid #fff 3px;
  display: block;
}
.game-result-layout > .players > .me img.dp.b-green, .game-result-layout > .players .friend img.dp.b-green {
  border-color: #32A776;
}
.game-result-layout > .players > .me img.dp.b-red, .game-result-layout > .players .friend img.dp.b-red {
  border-color: #E04357;
}
.game-result-layout > .players > .me img.top, .game-result-layout > .players .friend img.top {
  position: absolute;
  top: -60px;
  right: 40px;
  width: 75px;
  height: 75px;
}
.game-result-layout > .players > .me span, .game-result-layout > .players .friend span {
  font-weight: 700;
  color: #333;
}
.game-result-layout > .players > .points {
  display: flex;
  align-items: center;
  color: #225274;
  font-size: 36px;
  font-weight: 700;
  column-gap: 20px;
}
.game-result-layout > .players > .points > span.green {
  color: #32A776;
}
.game-result-layout > .players > .points > span.red {
  color: #E04357;
}
.game-result-layout > .pics {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  column-gap: 40px;
  margin-top: 10px;
}
.game-result-layout > .pics > img {
  width: 300px;
  height: auto;
}
.game-result-layout > .pics > a {
  background-color: orange;
  color: #fff;
  font-weight: 500;
  border-radius: 36px;
  padding: 10px 35px;
  opacity: 0.8;
  text-transform: uppercase;
}


.game-result-layout {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  align-items: center;
  row-gap: 50px;
}
.game-result-layout > p.title {
  color: #225274;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.game-result-layout > .players {
  display: flex;
  align-items: center;
  column-gap: 25px;
  justify-content: center;
}
.game-result-layout > .players > .me, .game-result-layout > .players .friend {
  position: relative;
  width: 75px;
  text-align: center;
}
.game-result-layout > .players > .me img.dp, .game-result-layout > .players .friend img.dp {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: solid #fff 3px;
  display: block;
}
.game-result-layout > .players > .me img.dp.b-green, .game-result-layout > .players .friend img.dp.b-green {
  border-color: #32A776;
}
.game-result-layout > .players > .me img.dp.b-red, .game-result-layout > .players .friend img.dp.b-red {
  border-color: #E04357;
}
.game-result-layout > .players > .me img.top, .game-result-layout > .players .friend img.top {
  position: absolute;
  top: -40px;
  right: 15px;
  width: 50px;
  height: 50px;
}
.game-result-layout > .players > .me span, .game-result-layout > .players .friend span {
  font-weight: 700;
  color: #333;
}
.game-result-layout > .players > .points {
  display: flex;
  align-items: center;
  color: #225274;
  font-size: 24px;
  font-weight: 600;
  column-gap: 10px;
}
.game-result-layout > .players > .points > span.green {
  color: #32A776;
}
.game-result-layout > .players > .points > span.red {
  color: #E04357;
}
.game-result-layout > .pics {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  column-gap: 40px;
  margin-top: 10px;
}
.game-result-layout > .pics > img {
  width: 300px;
  height: auto;
  display: none;
}
.game-result-layout > .pics > a {
  background-color: orange;
  color: #fff;
  font-weight: 500;
  border-radius: 36px;
  padding: 10px 35px;
  opacity: 0.8;
  text-transform: uppercase;
}

/*# sourceMappingURL=app.css.map */
