@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Saira Condensed', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

.master-nav {
  height: 100px;
  width: 100%;
  background-color: #154D68;
  background-image: url("/media/nav-bg.png");
  display: flex;
  align-items: center;
  padding: 0 40px;

  > .logo {
    display: flex;
    align-items: center;

    img {
      display: block;
    }

    > span {
      color: #F1FAEE;
      font-weight: 700;
      font-size: 36px;
      text-transform: uppercase;
      margin-left: 15px;
    }
  }

  > .icons {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 25px;
    font-weight: 700;

    > .link {
      display: flex;
      flex-direction: column;
      color: #fff;
      align-items: center;
      text-transform: uppercase;
      row-gap: 5px;

      > i {
        font-size: 24px;
      }
    }

    > .auth-dp {
      > img {
        width: 48px;
        height: 48px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    > .nav-btn {
      background-color: #F1FAEE;
      padding: 2px 12px 0 12px;
      border-radius: 20px;
      color: #154D68;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.dashboard-header {
  background-image: url("/media/header.png");
  //object-fit: cover;
  height: 442px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  > .transparent-nav {
    display: flex;
    align-items: flex-start;
    color: #fff;
    padding: 20px 60px;

    > .logo {
      display: flex;
      flex-direction: column;
      align-items: center;

      > img {

      }

      > p {
        font-size: 40px;
        font-weight: 700;
      }
    }

    > .icons {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      column-gap: 25px;
      font-weight: 700;

      > .link {
        display: flex;
        flex-direction: column;
        color: #fff;
        align-items: center;
        text-transform: uppercase;
        row-gap: 5px;

        > i {
          font-size: 24px;
        }
      }

      > .nav-btn {
        background-color: #F1FAEE;
        padding: 2px 12px 0 12px;
        border-radius: 20px;
        color: #154D68;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  > .dis {
    font-size: 50px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 80px;
    color: #F1FAEE;
    text-transform: uppercase;
    line-height: 1.2;

    p {
      text-align: center;
    }

    span {
      color: #EF6262;
    }
  }
}

.dashboard-show-case {
  padding: 0 60px;

  > p.title {
    color: #EF6262;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
  }

  > .cards-cover {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    .simple-card {
      width: 30%;
      background-color: #e8e8e8;
      padding: 20px;
      box-shadow: 1px 1px 2px #f2f2f2;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;

      > img {
        width: 100%;
        object-fit: cover;
      }

      > p {
        color: #EF6262;
        font-weight: 600;
        font-size: 20px;
      }

      > .rate-row {
        align-self: flex-start;
        color: darkorange;
        margin-bottom: 5px;

        > span {
          text-transform: uppercase;
          color: #444;
          font-weight: normal;
          margin-left: 5px;
        }
      }

      > .card-btn {
        background-color: #154D68;
        color: #fff;
        padding: 2px 20px;
        border-radius: 20px;
        text-transform: uppercase;
        box-shadow: 0 4px 4px #999;
        font-weight: 200;
      }
    }
  }
}


.play-start-layout {
  display: flex;
  padding: 40px 60px;
  align-items: center;

  > .question {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;

    > .step-bar {
      width: 30%;
      position: relative;
      margin-bottom: 40px;

      > .bar {
        height: 4px;
        width: 99%;
        background-color: #d4d4d4;
        margin: auto;
        box-shadow: 1px 1px 2px #e8e8e8;
      }

      > .steps {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: -7px;
        width: 100%;

        > span {
          background-color: #f2f2f2;
          border-radius: 50%;
          width: 17px;
          height: 17px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 11px;
          box-shadow: 1px 1px 2px #999;
          border: solid #d4d4d4 3px;
        }
      }
    }

    > .q-text {
      background-color: #245376;
      color: #fff;
      padding: 15px 30px;
      border-radius: 35px;
      width: 50%;
      text-align: center;
    }

    > .op {
      padding: 15px 30px;
      border-radius: 35px;
      width: 40%;
      text-align: center;
      background-color: coral;
      margin-top: 20px;
    }

  }

  > .counter {
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 40px;

    > img {
      width: 120px;
      height: 120px;
    }

    > .friend-photo {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;

      > img {
        width: 118px;
        height: 118px;
        border-radius: 50%;
        border: solid dodgerblue 2px;
      }

      > p {
        font-weight: 600;
      }
    }

  }
}

@media (max-width: 720px) {

  .dashboard-header {
    //background-image: url("/media/header.png");
    background-image: none;
    //object-fit: cover;
    //height: 442px;
    height: auto;

    background-color: #154D68;
    margin-bottom: 20px;


    > .transparent-nav {
      display: flex;
      align-items: flex-start;
      color: #fff;
      padding: 20px;

      row-gap: 20px;

      flex-direction: column-reverse;

      > .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        > img {

        }

        > p {
          font-size: 40px;
          font-weight: 700;
        }
      }

      > .icons {
        flex: 2;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 0px;
        font-weight: 700;

        > .link {
          display: flex;
          flex-direction: column;
          color: #fff;
          align-items: center;
          text-transform: uppercase;

          > i {
            font-size: 18px;
          }
        }

        > .nav-btn {
          background-color: #F1FAEE;
          padding: 2px 12px 0 12px;
          border-radius: 20px;
          color: #154D68;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    > .dis {
      font-size: 32px;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      color: #F1FAEE;
      text-transform: uppercase;
      line-height: 1.2;

      span {
        color: #EF6262;
      }
    }
  }

  .dashboard-show-case {
    padding: 0 20px;

    > p.title {
      color: #EF6262;
      font-weight: 700;
      font-size: 28px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 15px;
    }

    > .cards-cover {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .simple-card {
        width: 100%;
        background-color: #e8e8e8;
        padding: 20px;
        box-shadow: 1px 1px 2px #f2f2f2;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;

        > img {
          width: 100%;
          object-fit: cover;
        }

        > p {
          color: #EF6262;
          font-weight: 600;
          font-size: 20px;
        }

        > .rate-row {

        }

        > .card-btn {
          //background-color: #154D68;
          //color: #fff;
          //padding: 1px 12px;
          //border-radius: 20px;
          //text-transform: uppercase;
        }
      }
    }
  }

  .master-nav {
    height: 100px;
    width: 100%;
    background-color: #154D68;
    background-image: url("/media/nav-bg.png");
    display: flex;
    align-items: center;
    padding: 0 20px;

    > .logo {
      //display: flex;
      display: none;
      align-items: center;

      img {
        display: block;
      }

      > span {
        color: #F1FAEE;
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        margin-left: 15px;
      }
    }

    > .icons {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      column-gap: 15px;
      font-weight: 500;

      > .link {
        display: flex;
        flex-direction: column;
        color: #fff;
        align-items: center;
        text-transform: uppercase;
        row-gap: 5px;
        text-align: center;

        > i {
          font-size: 24px;
        }
      }

      > .auth-dp {
        > img {
          width: 48px;
          height: 48px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      > .nav-btn {
        background-color: #F1FAEE;
        padding: 2px 12px 0 12px;
        border-radius: 20px;
        color: #154D68;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .play-start-layout {
    display: flex;

    flex-direction: column-reverse;

    padding: 20px 20px;
    align-items: center;
    row-gap: 35px;

    > .question {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      > .step-bar {
        width: 100%;
        position: relative;
        margin-bottom: 40px;

        > .bar {
          height: 4px;
          width: 99%;
          background-color: #d4d4d4;
          margin: auto;
          box-shadow: 1px 1px 2px #e8e8e8;
        }

        > .steps {
          display: flex;
          justify-content: space-between;
          position: absolute;
          top: -7px;
          width: 100%;

          > span {
            background-color: #f2f2f2;
            border-radius: 50%;
            width: 17px;
            height: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 11px;
            box-shadow: 1px 1px 2px #999;
            border: solid #d4d4d4 3px;
          }
        }
      }

      > .q-text {
        background-color: #245376;
        color: #fff;
        padding: 15px 30px;
        border-radius: 35px;
        width: 100%;
        text-align: center;
      }

      > .op {
        padding: 15px 30px;
        border-radius: 35px;
        width: 90%;
        text-align: center;
        background-color: coral;
        margin-top: 20px;
      }

    }

    > .counter {
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      row-gap: 40px;
      column-gap: 20px;
      justify-content: center;

      > img {
        width: 80px;
        height: 80px;
      }

      > .friend-photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;

        > img {
          width: 78px;
          height: 78px;
          border-radius: 50%;
          border: solid dodgerblue 2px;
        }

        > p {
          font-weight: 700;
          font-size: 13px;
        }
      }

    }
  }


}
